@import '~bootstrap/scss/bootstrap';

// $black: #000;
//
// .border {
//   border: 3px solid $black;
//   margin: 20px;
//   padding: 20px;
// }
//
// .success {
//   background-color: green;
//   color: white;
//   font-size: 2em;
// }
//
// .failure {
//   background-color: red;
//   color: white;
//   font-size: 2em;
// }
//
.after-auth {
  display: none;
}
.container {
  display: none;
}

.center {
  margin: center;
  background-color: green;
  color: white;
  font-size: 2em;
}

p {
  font-size: 4em;
}

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
  // background-image: url('https://imgur.com/N9OHXB5');
  margin: auto;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.alt-color {
  background-color: $alt-color;
}
